<template>
  <div class="about">
    <div id="nav" align="center">
    <router-link to="/about">Data</router-link> |
    <router-link to="/task">Form Daily Task</router-link> |
    <router-link to="/">Logout</router-link>
    </div>
    <h1 class="judul" align="center">Data Passanger</h1>
    <Table align="center"/>
    <!--<Task/>-->
  </div>
</template>

<script>
// @ is an alias to /src
import Table from '@/components/Table.vue'
// import Task from '.@/components/Task'

export default {
  name: 'home',
  components: {
    // Task,
    Table
  }
}
</script>
<style>
#nav {
  margin-bottom: 50px;
}
.judul{
  margin-bottom: 50px;
}
</style>
