<template>
  <div class="login" align="center">
    <h1>Welcome to Your Vue.js App</h1>
    <img alt="Vue logo" src="../assets/logo.png">
    <Login msg="Login"/>
  </div>
</template>
<script>
// @ is an alias to /src
import Login from '@/components/Login.vue'

export default {
  name: 'home',
  components: {
    Login
  }
}
</script>

<style>
  .login {
    margin-top: 100px;
  }
</style>
