<template>
  <div class="formlogin">
    <h1>{{ msg }}</h1>
    <p><input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"></p>
    <p><input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1"></p>
    <ul>
      <router-link to="/about" tag="button" class="btn btn-primary">Masuk</router-link>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style>
  .formlogin{
    text-align: center;
  }
</style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
