<template>
  <div class="table">
    <table class="table table-hover">
      <thead>
      <tr class="info">
        <th style="text-align: center">
          Age
        </th>
        <th style="text-align: center">
          First Name
        </th>
        <th style="text-align: center">
          Last Name
        </th>
      </tr>
      </thead>
      <tr v-for="item in items">
        <td style="text-align: center">
          {{item.age}}
        </td>
        <td style="text-align: center">
          {{item.first_name}}
        </td>
        <td style="text-align: center">
          {{item.last_name}}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
        { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
        { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
        { age: 38, first_name: 'Jami', last_name: 'Carney' }
      ]
    }
  }
}
</script>

<style>
  table {
    font-family: 'Open Sans', sans-serif;
    width: 750px;
    border-collapse: collapse;
    border: 3px solid #44475C;
    margin: 10px 10px 0 10px;
    align-content: ;
  }

  table th {
    text-transform: uppercase;
    text-align: left;
    background: #44475C;
    color: #FFF;
    padding: 8px;
    min-width: 30px;
  }

  table td {
    text-align: left;
    padding: 8px;
    border-right: 2px solid #7D82A8;
  }
  table td:last-child {
    border-right: none;
  }
  table tbody tr:nth-child(2n) td {
    background: #D4D8F9;
  }
</style>
