<template>
  <div id="app">
    <div class="countainer">
      <div class="col-sm-6 offset-3">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<style>
  @import url('~bootstrap/dist/css/bootstrap.min.css');
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
